svg.intro {
    background: linear-gradient(135deg, #aa3bb1, #582a7e);
    max-width: 800px;
    box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
    border-radius: 10px;
  }
  
  svg.intro .text {
    display: block;
  }
  
  svg.intro.go .text {
    font-family: 'Impact';
    font-size: 6px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
  }
  
  svg.intro.go .text-stroke {
    fill: none;
    stroke: #51256f;
    stroke-width: 2px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 2.5s ease-in-out forwards;
  }
  
  svg.intro.go .text-stroke:nth-child(2) {
    animation-delay: .3s;
  }
  
  svg.intro.go .text-stroke:nth-child(3) {
    animation-delay: .9s;
  }
  
  svg.intro.go .text-stroke-2 {
    stroke: #f6bdfa;
    animation-delay: 1.2s;
  }
  
  svg.intro.go .text-stroke:nth-child(5) {
    animation-delay: 1.5s;
  }
  
  svg.intro.go .text-stroke:nth-child(6) {
    animation-delay: 1.8s;
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .logoImg{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    border-radius: 5px;
  }
  p{
    font-size: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .headerStack{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
  }